<!DOCTYPE html>
<html>
    <head>
        <title>File Upload</title>
        <meta charset="utf-8">        
    {% load staticfiles %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'upload/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Header -->
                <a class="navbar-brand" href="{% url 'list_files' %}">Handy-Dandy Monthly Expenditure Calculator</a>                
            </div>
        </nav>

        <!-- List of uploaded documents -->
        {% if documents %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Month and Year</th>
                            <th>Total Monthly Expenditure</th>
                        </tr>                 
                    </thead>
                    {% for key, value in monthly_expenses.items %}
                        <tr>               
                            <td> {{ key }} </td>
                            <td> {{ value }} </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <ul>                        
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "list_files" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
